<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="https://getbootstrap.com/favicon.ico" />

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet" />
  </head>

  <body>
	<header>
		<div class="navbar navbar-dark bg-dark">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand">Integration With Foursquare</a>
		    </div>
		</div>
	</header>
	
	<main role="main">
 		<div class="album text-muted">
        		<div class="container">
		   		<div class="card-deck">
					<div class="card" style="width: 18rem;">
					  	<img src="https://igx.4sqi.net/img/general/300x300/5163668_xXFcZo7sU8aa1ZMhiQ2kIP7NllD48m7qsSwr1mJnFj4.jpg" class="card-img-top" width="300" height="240" />
					    <div class="card-body">
					    		<div class="row">
	  							<div class="col-sm-6">
	  								<a href="#" class="btn btn-primary">"${token}"</a>
	  							</div>
	  							<div class="col-sm-6">
	  								<p class="card-text"><p th:text="${token2}" /></p>
	  							</div>
	  						</div>	
						</div>
					</div>
					
					<div class="card" style="width: 18rem;">
					  	<img src="https://igx.4sqi.net/img/general/300x300/5163668_xXFcZo7sU8aa1ZMhiQ2kIP7NllD48m7qsSwr1mJnFj4.jpg" class="card-img-top" width="300" height="240" />
					    <div class="card-body">
					    		<div class="row">
	  							<div class="col-sm-6">
	  								<a href="#" class="btn btn-primary">Go somewhere</a>
	  							</div>
	  							<div class="col-sm-6">
	  								<p class="card-text">Name</p>
	  							</div>
	  						</div>	
						</div>
					</div>
					
					<div class="card" style="width: 18rem;">
					  	<img src="https://igx.4sqi.net/img/general/300x300/5163668_xXFcZo7sU8aa1ZMhiQ2kIP7NllD48m7qsSwr1mJnFj4.jpg" class="card-img-top" width="300" height="240" />
					    <div class="card-body">
					    		<div class="row">
	  							<div class="col-sm-6">
	  								<a href="#" class="btn btn-primary">Go somewhere</a>
	  							</div>
	  							<div class="col-sm-6">
	  								<p class="card-text">Name</p>
	  							</div>
	  						</div>	
						</div>
					</div>
				</div>
	     	</div>
	     </div>
	 </main>

    
  </body>
</html>