<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Wish List</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
 
 	<!-- CSS	
    <link href="../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
     -->

  </head>

  <body>
	<header>
		<div class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Integration With Foursquare</a>
			    </div>
			</div>
		</div>
	</header>
	
	<main role="main">
 		<div class="album text-muted">
        		<div class="container">
		   		<div class="card-deck">
		   			<div class="card" style="width: 18rem;">
					  	<img src="https://igx.4sqi.net/img/general/300x300/5163668_xXFcZo7sU8aa1ZMhiQ2kIP7NllD48m7qsSwr1mJnFj4.jpg" class="card-img-top" width="300" height="240" />
					    <div class="card-body">
					    		<div class="row">
	  							<div class="col-sm-6">
	  								<a href="#" class="btn btn-primary">Del</a>
	  							</div>
	  							<div class="col-sm-6">
	  								<p class="card-text"></p>
	  							</div>
	  						</div>	
						</div>
					</div>
		   		
		   			<div th:unless="${#lists.isEmpty(venues)}">
		            		<dl th:each="venue , row: ${venues}">
							<p th:text="${venue.name}" />		
		              	</dl>
			        </div>
				</div>
	     	</div>
	     </div>
	 </main>
    
  </body>
</html>