<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Wish List</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
 
 	<!-- CSS -->	
    <link th:href="@{/css/wishlist.css}" rel="stylesheet" media="screen"/>

  </head>

  <body>
	<header>
		<div class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Integration With Foursquare</a>
			    </div>
			</div>
		</div>
	</header>
	
	<main role="main">
		<div class="content">
			<div class="header">
				<h2>Washlist</h2>
			</div>
				
			<div class="page card-deck" th:unless="${#lists.isEmpty(venues)}">
				<dl th:each="venue , row: ${venues}">
					<div class="item wishedItem card">
						<div class="card-body">
							<div class="alert alert-info" role="alert">
							  <p th:text="${venue.name}" />
							</div>
							
							<img src="https://igx.4sqi.net/img/general/250x250/5163668_xXFcZo7sU8aa1ZMhiQ2kIP7NllD48m7qsSwr1mJnFj4.jpg" />
							
							<div class="row">
								<div class="col-sm-12">
	  								<a href="#" class="btn  btn-lg btn-primary">Remover</a>
	  							</div>
							</div>
						</div>
					</div>
				</dl>
			</div>
		</div>
	     
	 </main>
    
  </body>
</html>